version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  backend:
    build: ./backend
    image: zubairbeigh/crud-backend:latest
    container_name: crud-backend
    restart: always
    environment:
      - PORT=8080
      - MONGO_URL=mongodb://mongo:27017/cruddb
    depends_on:
      - mongo
    networks:
      - appnet

  frontend:
    build: ./frontend
    image: zubairbeigh/crud-frontend:latest
    container_name: crud-frontend
    restart: always
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    container_name: crud-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
